<div class="container">
    <form class="row g-3" [formGroup]="AppointmentForm" (ngSubmit)="onSubmit()">
        <div class="col-md-6">
            <label for="inputename" class="form-label">Patient Name</label>
            <select class="form-control" formControlName="PatientID">
                <option *ngFor="let patient of PatientDetail" value="{{ patient.PatientID}}">
                    {{patient.PatientName}}
                </option>
            </select>
        </div>


        <div class="col-md-6">
            <label for="inputhiredate" class="form-label">Doctor Name</label>
            <select class="form-control" formControlName="DoctorID">
                <option *ngFor="let doctor of DoctorDetail" value="{{ doctor.DoctorID}}">
                    {{doctor.DoctorName}}
                </option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="inputSalary" class="form-label">Appointment Date</label>
            <input type="date" class="form-control" formControlName="AppointmentDate" />
        </div>
        <div class="col-md-6">
            <label for="inputSalary" class="form-label">Appointment Time</label>
            <input type="time" class="form-control" formControlName="AppointmentTime" />
        </div>
        <div class="col-md-6">
            <label for="inputSalary" class="form-label">AppointmentStatus</label>
            <select class="form-control" formControlName="AppointmentStatus">
                <option value="Scheduled">Scheduled</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>